<div>
    <div>
        {{#link-to "index"}}<h1>Todo List</h1>{{/link-to}}
    </div>
    <div class="right-links">{{#link-to "about"}}About{{/link-to}}</div>
</div>
<div class="body">
    {{outlet}}
</div>